<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% extends 'base.html' %}
  {% block content %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if user.id %}Editar usuário{% else %}Criar Usuário{% endif %}</title>
</head>
<body>
  <h2>User Management</h2>
  <ul>
    <li><a href="#" onclick="selectAction('create')">Criar Usuário</a></li>
    <li><a href="#" onclick="selectAction('edit')">Editar Usuário</a></li>
    <li><a href="#" onclick="selectAction('delete')">Deletar Usuário</a></li>
  </ul>

  <form id="userForm" method="post" action="{% url 'paginaEdicaoUsuario' %}">
    {% csrf_token %}  

    <fieldset id="userFields">
      {% if user.id is none %}
      <legend>Criar Usuário</legend>
      <label for="username">Nome de usuário:</label><br>
      <input type="text" id="username" name="username" value=""><br>
      <label for="password">Senha:</label><br>
      <input type="password" id="password" name="password" value=""><br>
      <label for="level">Nível de acesso:</label><br>
      <select id="level" name="level">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select><br><br>
      {% elif user.id %}
      <legend>Editar Usuário</legend>
      <label for="user_select">Nome de usuário:</label><br>
      <select id="user_select" name="user_id">
        <option value="">Selecionar Usuário</option> <!-- Add blank option -->
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
      </select><br><br>
      <label for="new_username">Novo nome de Usuário:</label><br>
      <input type="text" id="new_username" name="new_username" value=""><br>
      <label for="new_password">Nova senha:</label><br>
      <input type="password" id="new_password" name="new_password" value=""><br>
      <label for="new_level">Novo nível de acesso:</label><br>
      <select id="new_level" name="new_level">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select><br><br>
      {% else %}
      <p>Por favor selecione um usuário para editar.</p>
      {% endif %}
    </fieldset>

    <input type="submit" value="{% if user.id %}Save Changes{% else %}Create User{% endif %}" id="submitButton">
  </form>

  <script>
    function selectAction(action) {
      const userFields = document.getElementById('userFields');
      const submitButton = document.getElementById('submitButton');

      switch (action) {
        case 'create':
          userFields.textContent = ""; // Clear previous content
          const createUserContent = `
            <legend>Create User</legend>
            <label for="username">Nome do usuário:</label><br>
            <input type="text" id="username" name="username" value=""><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" value=""><br>
            <label for="level">Level:</label><br>
            <select id="level" name="level">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select><br><br>
          `;
          userFields.insertAdjacentHTML('beforeend', createUserContent);
          submitButton.value = "Create User";
          break;
        case 'edit':
          userFields.textContent = ""; // Clear previous content
          const editUserContent = `
            <legend>Editar Usuário</legend>
            <label for="user_select">Selecionar usuário:</label><br>
            <select id="user_select" name="user_id">
              <option value="">Selecionar usuário</option> <!-- Add blank option -->
              {% for user in users %}
              <option value="{{ user.id }}">{{ user.username }}</option>
              {% endfor %}
            </select><br><br>
            <label for="new_username">Novo nome de usuário</label><br>
            <input type="text" id="new_username" name="new_username" value=""><br>
            <label for="new_password">Nova senha</label><br>
            <input type="password" id="new_password" name="new_password" value=""><br>
            <label for="new_level">Novo nível de acesso: </label><br>
            <select id="new_level" name="new_level">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select><br><br>
          `;
          userFields.insertAdjacentHTML('beforeend', editUserContent);
          submitButton.value = "Save Changes";
          break;
        case 'delete':
          userFields.textContent = ""; // Clear previous content
          const deleteUserContent = `
            <legend>Deletar usuário</legend>
            <label for="user_select_delete">Selecionar usuário:</label><br>
            <select id="user_select" name="user_id" onchange="toggleDeleteButton(this.value)">
              <option value="">Selecionar usuário</option> <!-- Add blank option -->
              {% for user in users %}
              <option value="{{ user.id }}">{{ user.username }}</option>
              {% endfor %}
            </select>
          `;
          userFields.insertAdjacentHTML('beforeend', deleteUserContent);
          toggleDeleteButton(""); // Initially disable the delete button
          submitButton.value = "Deletar Usuário"; // Change button text
          break;
        default:
          break;
      }
    }

    function toggleDeleteButton(userId) {
      const submitButton = document.getElementById('submitButton');
      if (userId) {
        submitButton.removeAttribute('disabled'); // Enable the submit button
      } else {
        submitButton.setAttribute('disabled', true); // Disable the submit button
      }
    }

    function confirmDelete() {
      if (confirm("Você tem certeza?")) {
        document.getElementById('userForm').submit();
      }
    }
  </script>
</body>
{% endblock %}
</html>